:root {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
